.eduction
  position relative
  margin-right 0
  margin-left 23px
  margin-bottom 145px
  @media screen and (max-width: 400px)
    margin-left 21px

.eduction__header
  display block
  color #3d6cb0
  background-color #fff
  text-transform uppercase
  font-size 3.4em
  font-weight 900
  position absolute
  padding-left 93px
  top 8px
  word-wrap break-word
  max-width 100%
  height 73px
  text-overflow ellipsis
  box-sizing border-box
  white-space nowrap
  overflow hidden
  vertical-align middle
  line-height 1.5
  margin 0
  left -7px
  padding-top 3px

.eduction__header::before
  content ""
  width 76px
  height 76px
  display inline-block
  background url(../images/sprite.png) 0 0 no-repeat
  background-size cover
  position absolute
  left 4px
  top -2px
  background-position -80px 0

.eduction__line
  height 5px
  width 100%
  background #3d6cb0
  top 40px
  position relative

.eduction__container
  position relative
  top 98px

.eduction__container_span-header
  font-size 2em
  display inline-block
  margin-left 39px
  position relative
  margin-bottom 6px
  @media screen and (max-width: 400px)
    margin-left 21px

.eduction__container_span-header::before
  content ""
  width 20px
  height 20px
  border-radius 50%
  background-color #000000
  display inline-block
  position absolute
  left -29px
  top 9px

.eduction__container_span-strong
  color #3d6cb0
  font-weight 900
  margin-left 10px
  letter-spacing 1.2px
  margin-right 19px

.eduction__container_span-main
  font-size 2.2em
  display block
  margin-left 48px
  font-weight bold
  letter-spacing -1.2px
  line-height 1.04
  @media screen and (max-width: 400px)
    margin-left 30px

.eduction__container_span-footer-block-first
  font-size 1.2em
  display block
  margin-left 52px
  margin-bottom 11px
  margin-top 8px
  line-height 1.3
  @media screen and (max-width: 400px)
    margin-left 30px

.eduction__container_span-footer-block-second
  font-size 1.2em
  display block
  margin-left 52px
  margin-bottom 8px
  margin-top 8px
  line-height 1.3
  @media screen and (max-width: 400px)
    margin-left 30px

.eduction__container_span-footer-block-three
  font-size 1.2em
  display block
  margin-left 52px
  margin-bottom 8px
  margin-top 8px
  line-height 1.3
  @media screen and (max-width: 400px)
    margin-left 30px

.eduction__container_span-footer-block-fourth
  font-size 1.2em
  display block
  margin-left 52px
  margin-bottom 6px
  margin-top 8px
  line-height 1.3
  @media screen and (max-width: 400px)
    margin-left 30px