@font-face {
	font-family: 'Myriad Pro';
	src: url(../fonts/MyriadProRegular/MyriadProRegular.eot);
	src: url(../fonts/MyriadProRegular/MyriadProRegular.woff) format('woff'),
        url(../fonts/MyriadProRegular/MyriadProRegular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url(../fonts/MyriadProBold/MyriadProBold.eot);
	src: url(../fonts/MyriadProBold/MyriadProBold.woff) format('woff'),
        url(../fonts/MyriadProBold/MyriadProBold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url(../fonts/MyriadProLightSemiExtended/MyriadProLightSemiExtended.eot);
    src: url(../fonts/MyriadProLightSemiExtended/MyriadProLightSemiExtended.woff) format('woff'),
        url(../fonts/MyriadProLightSemiExtended/MyriadProLightSemiExtended.ttf) format('truetype'),
        url(../fonts/MyriadProLightSemiExtended/MyriadProLightSemiExtended.svg) format('svg');
    font-weight: lighter;
    font-style: normal;
} 
