@font-face
  font-family 'Myriad Pro'
  src url('../backend/fonts/MyriadProLightSemiExtended.eot')
  src local('☺'), url('../backend/fonts/MyriadProLightSemiExtended.woff') format('woff'), url('../backend/fonts/MyriadProLightSemiExtended.ttf') format('truetype'), url('../backend/fonts/MyriadProLightSemiExtended.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Myriad Pro'
  src url('../backend/fonts/MyriadProRegular/MyriadProRegular.eot')
  src local('☺'), url('../backend/fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'), url('../backend/fonts/MyriadProRegular/MyriadProRegular.ttf') format('truetype'), url('../backend/fonts/MyriadProRegular/MyriadProRegular.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Myriad Pro'
  src url('../backend/fonts/MyriadProBold/MyriadProBold.eot')
  src local('☺'), url('../backend/fonts/MyriadProBold/MyriadProBold.woff') format('woff'), url('../backend/fonts/MyriadProBold/MyriadProBold.ttf') format('truetype'), url('../backend/fonts/MyriadProBold/MyriadProBold.svg') format('svg')
  font-weight bold
  font-style normal

@font-face
  font-family 'Myriad Pro'
  src url('../backend/fonts/MyriadProLightSemiExtended.eot')
  src local('☺'), url('../backend/fonts/MyriadProLightSemiExtended.woff') format('woff'), url('../backend/fonts/MyriadProLightSemiExtended.ttf') format('truetype'), url('../backend/fonts/MyriadProLightSemiExtended.svg') format('svg')
  font-weight lighter
  font-style normal


