@import "normalize.css"

body
  font-family 'Myriad Pro', 'sens-serif'
  font-style normal
  font-weight 300
  font-size 12px
  color #000000
  display block
  width 1170px
  padding-right 15px
  padding-left 15px
  margin-right auto
  margin-left auto
  @media screen and (max-width: 1000px)
    width 100%
  @media screen and (max-width: 800px)
    font-size 9px

strong
  font-weight bold

@import '../includes/*'
@import "fonts.css"