.columnLeft--logo
  text-align center
  text-transform uppercase
  margin-bottom 112px

.logo--circle
    height 264px
    width 264px
    font-size 0
    display block
    position relative
    background-color #3d6cb0
    border-radius 50%
    border-style solid
    border-width 30px
    border-color #fff
    margin auto
    margin-top 1px

.logo--circle:before
  content ""
  width 232px
  height 232px
  display block
  position absolute
  margin auto
  text-align center
  border-radius 50%
  border #3d6cb0 solid 1px
  top -14px
  left -15px

.logo--name
  font-size 54px
  margin 0
  line-height 1
  margin-top 12px
  font-weight lighter

.logo--surname
  font-weight 900
  font-size 62px
  margin 0
  line-height 1
  margin-top -6px

.logo--profession
  font-weight 700
  font-size 2em
  margin 0
  line-height 1
  margin-top 10px