.logo
  text-align center
  text-transform uppercase
  margin-bottom 71px

.logo__circle
    height 203px
    width 203px
    font-size 0
    display block
    position relative
    background-color #3d6cb0
    border-radius 50%
    border-style solid
    border-width 30px
    border-color #fff
    margin auto
    margin-top 1px
    left 7px
    top 1px

.logo__circle:before
  content ""
  width 230px
  height 230px
  display block
  position absolute
  margin auto
  text-align center
  border-radius 50%
  border #3d6cb0 solid 1px
  top -14px
  left -15px

.logo__name
  font-size 54px
  margin 0
  line-height 1
  margin-top 15px
  font-weight lighter

.logo__surname
  font-weight 900
  font-size 62px
  margin 0
  line-height 1
  margin-top -9px

.logo__profession
  font-weight 700
  font-size 2.1em
  margin 0
  line-height 1
  margin-top 11px