.skills
  position relative
  margin-right 25px
  margin-left 20px
  margin-bottom 78px

  &__header
    display block
    color #3d6cb0
    background-color #fff
    text-transform uppercase
    font-size 3.4em
    font-weight 900
    position absolute
    padding-left 82px
    top 5px
    word-wrap break-word
    max-width 100%
    height 80px
    text-overflow ellipsis
    box-sizing border-box
    white-space nowrap
    overflow hidden
    vertical-align middle
    line-height 1.5
    margin 0
    left -2px
    padding-top 6px

    &::before
      content ""
      width 78px
      height 78px
      display inline-block
      background url(../images/sprite.png) 0 0 no-repeat
      background-size: cover;
      position: absolute
      left -1px
      top 0
      background-position -239px 0

  &__line
    height 5px
    width 100%
    background #3d6cb0
    top 40px
    position relative

  &__skills-block
    position relative
    top 97px
    padding 0 45px
    @media screen and (max-width: 800px)
      padding 0

  &-block__span
    text-align center
    display block
    text-transform uppercase
    font-size 2.2em
    font-weight 400
    margin-bottom 8px

  &-block__creative
    display flex
    justify-content space-between
    margin-bottom 19px

.skills-block__creative_circle,
.skills-block__creative_circle-active
  height 18px
  width 18px
  display inline-block
  background-color #e6e6e6
  border-radius 50%
  margin-right 5px


.skills-block__creative_circle::before,
.skills-block__creative_circle-active::before
  content ""
  height 18px
  width 18px
  display block
  background-color #3d6cb0
  border-radius 50%

.skills-block__creative_circle-active ~ .skills-block__creative_circle::before
  background-color transparent

  &-block__teamwork
    display flex
    justify-content space-between
    margin-bottom 22px

.skills-block__teamwork_circle,
.skills-block__teamwork_circle-active
  height 18px
  width 18px
  display inline-block
  background-color #e6e6e6
  border-radius 50%
  margin-right 5px


.skills-block__teamwork_circle::before,
.skills-block__teamwork_circle-active::before
  content ""
  height 18px
  width 18px
  display block
  background-color #3d6cb0
  border-radius 50%

.skills-block__teamwork_circle-active ~ .skills-block__teamwork_circle::before
  background-color transparent

.skills-block__innovate
  display flex
  justify-content space-between
  margin-bottom 18px

.skills-block__innovate_circle,
.skills-block__innovate_circle-active
  height 18px
  width 18px
  display inline-block
  background-color #e6e6e6
  border-radius 50%
  margin-right 5px


.skills-block__innovate_circle::before,
.skills-block__innovate_circle-active::before
  content ""
  height 18px
  width 18px
  display block
  background-color #3d6cb0
  border-radius 50%

.skills-block__innovate_circle-active ~ .skills-block__innovate_circle::before
  background-color transparent

.skills-block__communication
  display flex
  justify-content space-between
  margin-bottom 19px

.skills-block__communication_circle,
.skills-block__communication_circle-active
  height 18px
  width 18px
  display inline-block
  background-color #e6e6e6
  border-radius 50%
  margin-right 5px


.skills-block__communication_circle::before,
.skills-block__communication_circle-active::before
  content ""
  height 18px
  width 18px
  display block
  background-color #3d6cb0
  border-radius 50%

.skills-block__communication_circle-active ~ .skills-block__communication_circle::before
  background-color transparent