.software
  border-top #3d6cb0 solid 5px
  position relative
  margin-right 0
  margin-left 23px
  margin-bottom 78px

.software__header
  display inline-block
  color #3d6cb0
  background-color #fff
  top -44px
  text-transform uppercase
  font-size 3.4em
  font-weight 900
  position relative
  padding-left 92px

.software__header::before
  content ""
  width 76px
  height 76px
  display inline-block
  background url(../images/sprite.png) 0 0 no-repeat
  background-size cover
  position absolute
  left -1px
  top -16px
  background-position -159px 0

.software__containerSoft
  top -16px
  position relative

.containerSoft__block
  width 50%
  margin-bottom 8px
  padding-left 4px
  padding-right 32px
  float left
  position relative
  min-height 1px
  box-sizing border-box

.containerSoft__block_text
  text-transform uppercase
  font-size 24px
  display block
  padding-top 0px
  line-height 1em
  font-weight bold
  letter-spacing 0.1px

.containerSoft__block_photoshop
  width 100%
  height 24px
  background-color #e6e6e6
  margin 16px 0

.containerSoft__block_photoshop::before
  content ""
  height 100%
  width 91%
  display block
  background-color #3d6cb0

.containerSoft__block_dreamweaver
  width 100%
  height 24px
  background-color #e6e6e6
  margin 16px 0

.containerSoft__block_dreamweaver::before
  content ""
  height 100%
  width 93%
  display block
  background-color #3d6cb0

.containerSoft__block_illustrator
  width 100%
  height 24px
  background-color #e6e6e6
  margin 16px 0

.containerSoft__block_illustrator::before
  content ""
  height 100%
  width 71%
  display block
  background-color #3d6cb0

.containerSoft__block_effects
  width 100%
  height 24px
  background-color #e6e6e6
  margin 16px 0

.containerSoft__block_effects::before
  content ""
  height 100%
  width 62%
  display block
  background-color #3d6cb0

.containerSoft__block_indesign
  width 100%
  height 24px
  background-color #e6e6e6
  margin 16px 0

.containerSoft__block_indesign::before
  content ""
  height 100%
  width 56%
  display block
  background-color #3d6cb0

.containerSoft__block_html
  width 100%
  height 24px
  background-color #e6e6e6
  margin 16px 0

.containerSoft__block_html::before
  content ""
  height 100%
  width 91%
  display block
  background-color #3d6cb0