mixin software(title, textArray, numberArray)
    - var classes = ['photoshop', 'dreamweaver', 'illustrator', 'effects', 'indesign', 'html']
    .software
        .software__line
        h1.software__header= title
        .software__containerSoft
            - for(var i=0; i<textArray.length; i++) {
                .containerSoft__block
                    - var classDiv= 'containerSoft__block_' + classes[i]
                    - var classDivBlue= 'containerSoft__block_' + classes[i] + '_blue'
                    - var styleWidth= numberArray[i] + '%'
                    span.containerSoft__block_text= textArray[i]
                    div(class=classDiv)
                        div(class=classDivBlue)(style="width:" + styleWidth)
            - }