.contact
  position relative
  margin-right 25px
  margin-left 21px
  margin-bottom 79px


.contact__header
  display block
  color #3d6cb0
  background-color #fff
  text-transform uppercase
  font-size 3.4em
  font-weight 900
  position absolute
  padding-left 82px
  top 10px
  word-wrap break-word
  max-width 100%
  height 73px
  text-overflow ellipsis
  box-sizing border-box
  white-space nowrap
  overflow hidden
  vertical-align middle
  line-height 1.5
  margin 0


.contact__header::before
  content ""
  width 76px
  height 76px
  display inline-block
  background url(../images/sprite.png) 0 0 no-repeat
  background-size cover
  position absolute
  left 0
  top 0
  background-position -308px 0


.contact__line
  height 5px
  width 100%
  background #3d6cb0
  top 40px
  position relative


.contact__table
  display: table;
  font-size: 1.5em;
  position: relative;
  top: 90px;
  line-height: 1;


.table__row
  display table-row
  padding 10px 0


.table__cell_blue
  display table-cell
  color #3d6cb0
  padding-right 48px
  padding-bottom 36px
  text-transform uppercase
  font-weight 700


.table__cell
  display table-cell
  padding-right 48px
  padding-bottom 36px
  text-transform uppercase
  font-weight 700