.skillsBlock
  position relative
  top 97px
  padding 0 45px
  @media screen and (max-width: 800px)
    padding 0

  &__header
    text-align center
    display block
    text-transform uppercase
    font-size 2.2em
    font-weight 400
    margin-bottom 8px

.skillsBlock__creative
    display flex
    justify-content space-between
    margin-bottom 19px

.skillsBlock__creative_circle,
.skillsBlock__creative_circle-active
  height 18px
  width 18px
  display inline-block
  background-color #e6e6e6
  border-radius 50%
  margin-right 5px


.skillsBlock__creative_circle::before,
.skillsBlock__creative_circle-active::before
  content ""
  height 18px
  width 18px
  display block
  background-color #3d6cb0
  border-radius 50%

.skillsBlock__creative_circle-active ~ .skillsBlock__creative_circle::before
  background-color transparent

.skillsBlock__teamwork
    display flex
    justify-content space-between
    margin-bottom 22px

.skillsBlock__teamwork_circle,
.skillsBlock__teamwork_circle-active
  height 18px
  width 18px
  display inline-block
  background-color #e6e6e6
  border-radius 50%
  margin-right 5px


.skillsBlock__teamwork_circle::before,
.skillsBlock__teamwork_circle-active::before
  content ""
  height 18px
  width 18px
  display block
  background-color #3d6cb0
  border-radius 50%

.skillsBlock__teamwork_circle-active ~ .skillsBlock__teamwork_circle::before
  background-color transparent

.skillsBlock__innovate
    display flex
    justify-content space-between
    margin-bottom 18px

.skillsBlock__innovate_circle,
.skillsBlock__innovate_circle-active
  height 18px
  width 18px
  display inline-block
  background-color #e6e6e6
  border-radius 50%
  margin-right 5px


.skillsBlock__innovate_circle::before,
.skillsBlock__innovate_circle-active::before
  content ""
  height 18px
  width 18px
  display block
  background-color #3d6cb0
  border-radius 50%

.skillsBlock__innovate_circle-active ~ .skillsBlock__innovate_circle::before
  background-color transparent

.skillsBlock__communication
    display flex
    justify-content space-between
    margin-bottom 19px

.skillsBlock__communication_circle,
.skillsBlock__communication_circle-active
  height 18px
  width 18px
  display inline-block
  background-color #e6e6e6
  border-radius 50%
  margin-right 5px


.skillsBlock__communication_circle::before,
.skillsBlock__communication_circle-active::before
  content ""
  height 18px
  width 18px
  display block
  background-color #3d6cb0
  border-radius 50%

.skillsBlock__communication_circle-active ~ .skillsBlock__communication_circle::before
  background-color transparent