include ../eduction/eduction.pug
include ../experience/experience.pug
include ../software/software.pug

section.columnRight
    +eduction('Учеба')
        span.eduction__container_span-header
            strong.eduction__container_span-strong MASTER DEGREE
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.eduction__container_span-main
            | UNIVERSITY NAME
        span.eduction__container_span-footer-block-first
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        span.eduction__container_span-header
            strong MASTER DEGREE
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.eduction__container_span-main
            | UNIVERSITY NAME
        span.eduction__container_span-footer-block-second
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        span.eduction__container_span-header
            strong MASTER DEGREE
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.eduction__container_span-main
            | UNIVERSITY NAME
        span.eduction__container_span-footer-block-three
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        span.eduction__container_span-header
            strong MASTER DEGREE
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.eduction__container_span-main
            | UNIVERSITY NAME
        span.eduction__container_span-footer-block-fourth
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    +experience('Опыт работы')
        span.experience__container_span-header
            strong COMPANY NAME
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.experience__container_span-main
            | YOUR JOB HERE
        span.eduction__container_span-footer-block-first
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        span.experience__container_span-header
            strong COMPANY NAME
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.experience__container_span-main
            | YOUR JOB HERE
        span.eduction__container_span-footer-block-second
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        span.experience__container_span-header
            strong COMPANY NAME
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.experience__container_span-main
            | YOUR JOB HERE
        span.eduction__container_span-footer-block-three
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    +software(title, ['photoshop', 'dreamweaver', 'illustrator', 'After effects', 'indesign', 'htmls&css3'], [91, 83, 71, 62, 56, 91])
