include ../eduction/eduction.pug
include ../experience/experience.pug

section.columnRight
    +eduction('Учеба')
        span.right-item-span-1
            strong MASTER DEGREE
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.right-item-span-2
            | UNIVERSITY NAME
        span.right-item-span-3.eduction-container_block3
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        span.right-item-span-1
            strong MASTER DEGREE
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.right-item-span-2
            | UNIVERSITY NAME
        span.right-item-span-3.eduction-container_block6
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        span.right-item-span-1
            strong MASTER DEGREE
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.right-item-span-2
            | UNIVERSITY NAME
        span.right-item-span-3.eduction-container_block9
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        span.right-item-span-1
            strong MASTER DEGREE
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.right-item-span-2
            | UNIVERSITY NAME
        span.right-item-span-3
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
    +experience('Опыт работы')
        span.right-item-span-1.experience-span
            strong COMPANY NAME
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.right-item-span-2
            | YOUR JOB HERE
        span.right-item-span-3.experience-container_block3
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        span.right-item-span-1.experience-span
            strong COMPANY NAME
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.right-item-span-2
            | YOUR JOB HERE
        span.right-item-span-3.experience-container_block6
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
        span.right-item-span-1.experience-span
            strong COMPANY NAME
            |                             ⁄⁄ Feb 2011-Jun 2014
        span.right-item-span-2
            | YOUR JOB HERE
        span.right-item-span-3
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
